<div id="sidebar" >
        
            <div class="fb-like" data-href="https://www.facebook.com/pages/Quailridge-Plantation/340892476040650?fref=ts" data-send="false" data-width="250" data-show-faces="false"></div>

		
			<div class="sidebox">
			
				<h1>Physical Address</h1>
				<p>
                Quailridge Plantation<br>
                3281 Moye Road<br>
                Moultrie, Georgia, 31768
                </p>
                
                <h1>Mailing Address</h1>
				<p>
                Quailridge Plantation<br>
                P.O. Box 155<br>
                Norman Park, Georgia, 31771
                </p>
                
                <h1>Reservations or Questions?</h1>
				<p>
                <Strong>John or Edwin Norman</strong><br>
                <strong>Lodge Phone/Fax:</strong> (229) 985-5011<br>
                <strong>Email:</strong> <%= mail_to "quailridge@windstream.net" %>
                </p>	
                
                
    </div>
					
</div>	


