<div id="sidebar" >
        
            <div class="fb-like" data-href="https://www.facebook.com/pages/Quailridge-Plantation/340892476040650?fref=ts" data-send="false" data-width="250" data-show-faces="false"></div>

		
			<div class="sidebox" align="center">
                <P>
                <h1>Reservations or Questions?</h1>
				</P>
                <P>
                <h1>(229) 985-5011</h1>
                <h3>PO Box 155 | Norman Park, GA | 31771</h3>
                </P>
                
            </div>
            
            <div class="sidebox">
            <script type="text/javascript" src="http://forms.aweber.com/form/81/1354964381.js"></script>
            </div>
            
					
</div>	


