
<div id="headerphotos"> 
<ul>
<li><%= image_tag("quailridge_small21.jpg", :class => "round") %> 
<li><%= image_tag("quailridge_small23.jpg", :class => "round") %> 
<li><%= image_tag("quailridge_small24.jpg", :class => "round") %> 
</div>
    <div id="content-wrap"><div id="content">
		
<%= render "shared/sidebar" %>	
<div id="main">
		
<div class="post">

<h1>Welcome to Quailridge: A Letter From Edwin</h1>
<p>
Dear Sir or Madam,
</p>
<p>
We want to introduce you to Qualiridge Plantation, described by several national outdoor writers as one of the premier shooting preserves in the South. Bobwhite has been king for generations and all our efforts have been expended to further his propagation and enjoy the hunting of the “Prince of Game Birds”.
</p>
<p><img align="right" alt="Quail11" src="/images/quail11.jpg?1347819265" />
Few, if any, forms of entertainment are more exclusive or appreciated than a southern quail hunt. It is something your business clients will really enjoy and look forward to each year. It gives you an unequaled opportunity to become better acquainted with them in a very relaxed and comfortable atmosphere since each party has the privacy of its own spacious lodge.
</p>
<p>
Since 1969, Quailridge has been entertaining guests from all areas of the nation with the finest plantation quail hunting, best trained dogs, experienced guides, and comfortable lodging with delicious southern home cooked meals. Over ninety percent of our guests are either repeat or referrals, coming back each year to enjoy superb quail hunting in beautiful native quail cover in a friendly atmosphere steeped in traditional southern hospitality.
</p>
<p>
Whether you are veteran quail hunter or one who has never experienced the thrill of a dog suddenly freezing on point and the whirling brown rockets of a flushing covey of quail, you can be assured of a hunt that is in keeping with the finest southern quail hunting tradition. On over 4,500 acres of quail laden lands, we can assure each hunting party ample room on their own private course. Ten well stocked lakes provide fishing during the noon break or after the hunt. Also, an automatic trap range is available to sharpen your aim or test the skills of other members of your party.
</p>
<p>
Quailridge Plantation is here to make your hunting experience special.  We can help with all the details from the time you arrive at an area airport or drive up our road.  This allows you to concentrate on the hunting and the fellowship with your hunting partners.
</p>
<p>
We look forward to hearing from you soon.
</p>
<p>
Sincerely,<br>
Edwin Norman
</p>
				
			</div>
		</div>
	</div>    
</div>
